# Connection string ke Supabase PostgreSQL
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres?schema=public"

# Supabase Public API Key
NEXT_PUBLIC_SUPABASE_URL="https://[PROJECT-REF].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="[ANON-KEY-ANDA]"
SUPABASE_SERVICE_ROLE_KEY="[SERVICE-ROLE-KEY-ANDA]"

# Secret Auth Local
JWT_SECRET="rahasia-jwt-Suka Banjar-32-karakter"

# URL Lokal
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

