# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# AI Context / Knowledge Base Ignore
Project-Knowledge Base with AI Context.md

# Uploaded media files (Berita, UMKM, Galeri, dll)
/public/uploads/*
!/public/uploads/.gitkeep
!/public/uploads/**/.gitkeep
